.Nav{
    display: flex;
    justify-content: space-between;
}
.list{
    display: flex;
    gap: 15px;
    list-style: none;
    justify-content: center;
}
.Logo{
    border: 1px solid red;
    font-size: 40px;
}